/* #control_panel {
    height: 800px;
} */

#divider {
    float: left;
    width: 5%;
    height: 800px;
}

#control_panel button {
    font-size: 20px;
    width: 100%;
}

#control_panel button:hover {
    cursor: pointer;
}
/* #information_panel {
    background-color: gold;
} */

#information_panel ul {
    list-style: none;
    padding: 5px;
}

.section {
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
}

#header {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 24px;
    padding-top: 10px;
}

#main {
    float: left;
    width: 80%;
    height: 800px;
}

#main canvas {
}

#main input {
    width: 100px;
    height: 50px;
}

